html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}
body {
  display: block;
  margin: 8px;
}
.logo {
  width: auto;
  max-width: 80%;
}
.image {
  width: 250px;;
  margin-left: 10px;
}
header {
  margin-bottom: 10px;
  

}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 290px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: 0, 22, 22, 0.4;
}
#navbar > header {
  padding-top: 10px;
  padding: 10px;
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
li {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
}
li a {
  text-decoration: none;
  padding: 10px;
}
#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;

}
#main-section {
  display: flex;
  padding-bottom: 8px;
  margin-left: 10px;
}
main header {
  font-weight: 400px;
  font-size: 2rem;
  padding: 10px;
  background-color: #EBEDEF;
  width: 200px;
  border-radius: 3px;
  box-shadow: -5px 5px 30px -11px rgba(0,0,0,0.75);
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}